@font-face {
  font-family: 'montserratMedium';
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

.conteinerTenis {
  font-family: 'montserratMedium', sans-serif;
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}

.conteinerTenis .titulo {
  font-size: 2rem;
}

.conteinerTenis .frase {
  color: var(--texto);
  margin: 1rem 0 3rem;

}

.conteinerTenis .listaTenis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 15rem);
  gap: 15px;
}

.conteinerTenis .tenis {
  background: var(--bgCard);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 999px) {
  .conteinerTenis .listaTenis {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 15rem);
  }
}

@media screen and (max-width: 767px) {
  .conteinerTenis .listaTenis {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 15rem);
  }
}
